.header {
  background-color: green;

}

.header ul {
  display: flex;
  
}
.header ul li a {
  padding: 10px 15px;
  display: block;
  font-size: 24px;
  color: aqua;
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  text-shadow: alpha($color: purple);
}
.header ul li .active {
  background-color: black;
  
}